<%= render "admin/admin_menu", :locals => { :admin_page => @admin_page }%>
<div id="internal-right">

<h1>Edit rental agreement version <%= @agreement_version.id %></h1>
<br>
<br>
<div class="error_label">WARNING! This editing capability is only intended to allow changes in formatting and such. Content changes require a new version!</div>
<br><br>
<%= render 'form' %>
<br>
<%= link_to 'All Versions', rental_agreement_versions_path %>
    </div>
<div class="clearer"></div>