<h1>Box Inventoried!</h1>
Dear <%= @box.user.first_name %> <%= @box.user.last_name %>,
<br><br>
We just wanted to inform you that we have processing the inventory for your box, number <%= @box.box_num %>, here at The Visible Closet world headquarters!
<br><br>
You can now see your inventory online by going to your account and selecting <a href="http://www.thevisiblecloset.com/stored_items">"Browse Items"</a>.
<br><br>
Thanks for using The Visible Closet, and have a great day!
<br><br>
<div style="padding 0 0 0 15px">~ The Visible Closet Team</div>
</p>
<a href="#" class="button">The Visible Closet</a>