Dear <%= @user.first_name %> <%= @user.last_name %>,
<br><br>
Thank you for choosing The Visible Closet for your storage needs! Below is an invoice for charges recently posted to your account. These charges will be settled to your default credit card account on file.
<br><br>
As usual, we'd love to hear from you! If you have any questions or concerns, please don't hesitate to contact us at <a href="mailto:contact@thevisiblecloset.com">contact@thevisiblecloset.com</a>.
<br><br>
Thanks, and have a great day!
<br><br>
<div style="padding 0 0 0 15px">~ The Visible Closet Team</div>
<br><br>
<div style="width: 100%; border: 1px solid #000000">
<%= render 'orders/invoice', :locals => {:vc_address => @vc_address, :invoice => @invoice, :order => @order, :billing_address => @billing_address, :payment_profile => @payment_profile } %>
</div>