Dear <%= @user.first_name %> <%= @user.last_name %>,
<br><br>
We recently tried to charge your credit card for charges on your account, and received a rejection message from the credit card company. The message we received was:
<br><br>
"<%= @rejected_message %>"
<br><br>
In order to avoid additional fees or potentially losing access to your account, please log into your account at The Visible Closet (<a href="http://www.thevisiblecloset.com">http://www.thevisiblecloset.com</a>) immediately to provide a new default credit card for your account.
<br><br>
Of course, if you have any questions or concerns, please don't hesitate to contact us! We are here to help you resolve this situation any way we can. We can be reached at <a href="mailto:support@thevisiblecloset.com">support@thevisiblecloset.com</a>.
<br><br>
<div style="padding 0 0 0 15px">~ The Visible Closet Team</div>
<br><br>