Dear <%= @user.first_name %> <%= @user.last_name %>,
<br><br>
We just wanted to let you know that we have processed storage charges for your account and charged those amounts to your default credit card on file. The total amount charged as <%= number_to_currency @payment.credit.amount %>. For more details, please see the "Your Account" page on our website (<a href="http://www.thevisiblecloset.com">www.thevisiblecloset.com</a>).
<br><br>Thank you for using The Visible Closet!
<br><br>
<div style="padding 0 0 0 15px">~ The Visible Closet Team</div>
<br><br>