
#photos_container {
  width: 530px;
  float: left;
  min-height: 100px;
  overflow: hidden; 
}
#photos_container .photo {
    float: left;
    margin: 10px; 
}
#photos_container .photo img {
      padding: 1px;
      border: 2px solid #d8d8d8; 
}
#uploader {
  width: 400px;
  float: right; 
}

ul { list-style: none; }


/* Post Thumbnail */


.post-thumbnail {
	line-height: 0;
	margin: 0 0;
	position: relative;
}




/* THUMBNAILS */


/*#reate-portfolio.thumbnails {
	margin: -10px 0 30px -10px;
	width: 880px;
}*/
/*#create-store.thumbnails { margin-bottom: 25px; }*/
.thumbnails li {
    float: left;
    list-style-type: none !important;
    width: 300px;
}
#create-portfolio.thumbnails li {
	margin: 10px 7px 8px;
	width: 150px;
}
/*#create-store.thumbnails li { margin-bottom: 40px; }*/
/*.thumbnails h3 { margin: 24px 0 12px; }*/
/*#create-portfolio.thumbnails h3 { margin: 16px 0 -4px; }*/
/*.thumbnails p { line-height: 1.5; }
.thumbnails h3, .thumbnails h3 a {
	background: transparent;
	color: #333;
	text-decoration: none;
}
*/
/*.thumbnails h3 a:hover { background: #ffff00; }*/

.post-thumbnail {
	height: 150px;
	width: 150px;
}
/*#create-portfolio.thumbnails .post-thumbnail img {
	-webkit-box-shadow: inset 0px 0px 50px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 50px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 50px rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
}
*/
#create-portfolio.thumbnails .post-thumbnail ul {
	background: rgba(255,255,255,0.4);
	border-top: 0px solid #333;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	height: 150px;
	width: 150px;
}
#create-portfolio.thumbnails .post-thumbnail img {
	width: 150px;
	height: 150px;
}
#create-portfolio.thumbnails .post-thumbnail:hover ul {
	display: inline;
}
#create-portfolio.thumbnails .post-thumbnail li a {
	background: url(assets/thumbnail-circles.png);
	color: #fff;
	display: block;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	height: 64px;
	left: 50%;
	line-height: 6;
	margin-left: -5px;
	margin-top: -32px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	top: 50%;
	transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	-o-transition-transition-property: color;
	width: 64px;
}
#create-portfolio.thumbnails .post-thumbnail li:first-child a {
	left: 0%;
	margin-left: 8px;
	top: 27%;
}
#create-portfolio.thumbnails .post-thumbnail .secondchild li  a {
	left: 0%;
	margin-left: 74px;
	top: 27%;
}
#create-portfolio.thumbnails .post-thumbnail .thirdchild li  a {
	left: 0%;
	margin-left: 8px;
	top: 73%;
}
#create-portfolio.thumbnails .post-thumbnail .fourthchild li  a {
	left: 0%;
	margin-left: 74px;
	top: 73%;
}
#create-portfolio.thumbnails .post-thumbnail li a:hover {
	background-position: 0 -64px;
	color: #333;
}

/*#create-portfolio.thumbnails .tags {
	background: none;
	color: #999;
	padding: 0;
}
#create-portfolio.thumbnails .tags a {
	color: #999;
	font-style: italic;
}*/



