<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<%= @sender %> signed up to join the distribution list on the splash page.
  </body>
</html>
