<%= render :partial => "admin_menu" %>
<div id="internal-right">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
It seems that you either hit refresh or hit the submit button twice. Your action was halted because it would have caused a duplicate action. Please use the menu at left to continue.
</div>
<div class="clearer"></div>