<%   @menu_page = :furniture %>
<%= render 'stored_items/index_header' %>
<div id="internal-right">
<%= render 'stored_items/item_search_form' %>
<%= render 'stored_items/item_layout' %>
</div>
<div class="clearer"></div>
<%= render 'stored_items/item_click_message' %>
