

			<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
			<html lang="en">
				<head>
					<meta charset="utf-8" />
			<meta name="google-site-verification" content="TMBQxdOPxSU44grURwX-ivS6ZAcHfv1qAZlfvSy1jmE" />
					<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
					Remove this if you use the .htaccess -->
					<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

					<!-- Page Title -->
					<title>The Visible Closet</title>

					<!-- General Meta -->
					<meta name="csrf-param" content="authenticity_token"/>
			<meta name="csrf-token" content="bUACk/paHNaikpmendwMrhMrpMyob5YCL0OTpwDMYhs="/>
					<meta name="keywords" content="" />
					<meta name="description" content="The Visible Closet. Your stuff. Organized. Safeguarded. At your fingertips." />
					<!--<meta name="viewport" content="width=device-width; initial-scale=1.0" />-->

			<!-- STYLE SHEET IMPORT -->
			<link href="/css/screen.css?1326659620" media="screen" rel="stylesheet" type="text/css" />
			<link href="/css/jquery.fancybox-1.3.4.css?1316327155" media="screen" rel="stylesheet" type="text/css" />
			<link href="/css/plupload.queue.css?1310856020" media="screen" rel="stylesheet" type="text/css" />
			<link href="/css/application.css?1316719089" media="screen" rel="stylesheet" type="text/css" />
			<link href="/css/styles.css?1316647814" media="screen" rel="stylesheet" type="text/css" />
			<link href="/css/jquery-ui-1.8.16.custom.css?1316719089" media="screen" rel="stylesheet" type="text/css" />
			<!-- Load JavaScript / jQuery -->

					<script src="/javascripts/jquery-1.6.4.min.js?1316719089" type="text/javascript"></script>
					<script src="/javascripts/jquery.cycle.all.min.js?1310856020" type="text/javascript"></script>
					<script src="/javascripts/superfish-combined.js?1310856020" type="text/javascript"></script>
					<script src="/javascripts/jquery.fancybox-1.3.4.js?1320531674" type="text/javascript"></script>
					<script src="/javascripts/rails.js?1316719089" type="text/javascript"></script>
					<script src="/javascripts/date.js?1310856020" type="text/javascript"></script>
					<script src="/javascripts/jquery-ui-1.8.16.custom.min.js?1316719089" type="text/javascript"></script>
					<script src="/javascripts/autocomplete-rails.js?1316719089" type="text/javascript"></script>
					<script src="/javascripts/jquery.ui.autocomplete.html.js?1316719089" type="text/javascript"></script>
			 		<script src="/javascripts/application.js?1330908434" type="text/javascript"></script>

					<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
					<link rel="shortcut icon" href="/images/vcLogo_boxOnly.png" />
					<link rel="apple-touch-icon" href="/images/vcLogo_boxOnly.png" />



					<script type="text/javascript">

					var _gaq = _gaq ||  [];
					_gaq.push(['_setAccount', 'UA-24704693-1']);
					_gaq.push(['_trackPageview']);

					(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga,s);
					})();

					</script>
				</head>

			<!-- SIDE MENU HTML -->
			<body>
					<div id="toplip">
				</div>
			    <div id="container">
			        <div id="block">
			            <div id="header" class="bottom-border">
			                <div id="logo">
			                    <a href="/"><img src="/images/logo.gif" alt="Visible Closet" /></a>
			                </div>

			                <div class="clearer"></div>

			            </div>
			            <div id="page-content">
			            <!-- page content -->

			            <div id="viewer">


			            <div id="home-extra">
			                <div id="home-extra-left"><p>We regret to report that The Visible Closet has gone out of business. We had a good run, but it just didn't work out. For alternative storage solutions, check out <a href="http://www.storagebythebox.com" target="new"><b>Storage by the Box</b></a>. Good luck with all of your storage needs. If you are in need of boxes, feel free to email us at ineedboxes@thevisiblecloset.com.</p></div>

			                </div>
			                <div class="clearer"></div>
			            </div>

			            </div>

						<!-- end page content -->
						</div>
			            <div id="footer" class="top-border">

			                <div class="clearer"></div>
			            </div>

			        </div>
			    </div>
			</body>
			</html>