<img src="images/how-it-works.jpg" alt="How It Works" class="how-it-works" />
<div class="how_it_works">
	<div class="simple_header">
	1. SIGN UP
	</div>
	<div class="simple_body">
	Click the "Sign Up" link at the top of the page to create an account with The Visible Closet. From there you can choose the number of boxes you would like to put in storage. Choose Visible Closet boxes and have the free, pre-labelled boxes sent to you; choose your boxes to get printing labels and, if you sign up for a plan, free shipping.
	</div>
	<div class="simple_header">
	2. PACK
	</div>
	<div class="simple_body">
	We can store just about anything, with a few <a href="/restrictions">exceptions</a>. You have three options, and can mix and match options as you please:
	<ul>
		<li><b>Your Boxes</b> -- If you have your own boxes you can ship them to us. Just select the number of boxes you wish to ship, and we will provide Fedex shipping labels for you to print and attach to your boxes.</li>
		<li><b>Our Boxes</b> -- Need boxes? No problem! Choose the number you need and we will Fedex them to you, along with shipping supplies.</li>
		<li><b>Odd Storage - CHICAGO AREA ONLY</b> -- If you are in the Chicago area you can store things that don't fit in a box and can't be easily mailed by dropping them off in person. Odd storage is available on an appointment basis only at this time. <a href="/contact">Contact us</a> for more info.</li>
	</ul>
	<p>If you would like a box inventoried, don't forget to mark the checkbox on the outside the box before you ship it.</p><br>
	<p>Be sure to check out our <a href="/packing_tips">tips for safe packing</a>!</p>
	</div>
	<div class="simple_header">
	3. SHIP
	</div>
	<div class="simple_body">
		When you are ready to put your stuff in storage, simply contact Fedex to have them pick up your boxes. You can contact Fedex to schedule a pick-up by:
		<ul>
			<li>Going to their website at <a href="http://www.fedex.com" target="new">http://www.fedex.com</a></li>
			<li>Calling them up at 1-800-Go-Fedex (1-800-463-3339)</li>
			<li>Visiting one of their <a href="http://fedex.com/Dropoff/start" target="new">many locations</a></li>
		</ul>
	</div>
	<div class="simple_header">
	4. EXPERIENCE THE MAGIC
	</div>
	<div class="simple_body">
	<p>It's pretty awesome to be able to just store by the box! No trip to the storage facility, no renting more space than you need ...</p><br><p> But to experience the real magic, get your boxes inventoried! Once we have your boxes and have inventoried them you can see your stuff ... search for individual items ... mail individual items, donate them, even sell them ... all with the click of a button!</p><br>
	</div>