<div style="padding: 20px 0 0 30px">
<h1>Terms and Conditions</h1>
<div class="simple_body">
<p>PLEASE READ THE FOLLOWING AGREEMENT CAREFULLY. Your use of this website constitutes agreement to the terms and conditions of the website use agreement as set forth below. If you do not agree to these terms, do not use this website.</p>
 </div>
<div class="simple_header">Contents</div>
<div class="simple_body">
<ul>
<li><a href="#q1">Definitions</a></li>
<li><a href="#q2">Use of thevisiblecloset.com</a></li>
<li><a href="#q3">thevisiblecloset.com Login Registration</a></li>
<li><a href="#q4">Changes to thevisiblecloset.com</a></li>
<li><a href="#q5">Termination of Access</a></li>
<li><a href="#q6">Ownership</a></li>
<li><a href="#q7">Disclaimer of warranty</a></li>
<li><a href="#q8">Limitation of Liability</a></li>
<li><a href="#q9">Indemnity</a></li>
<li><a href="#q10">Privacy Policy</a></li>
<li><a href="#q11">Controlling Law and Severability</a></li>
</ul>
</div>
<div class="simple_header"><a id="q1" name="q1"></a>
Definitions
</div>
<div class="simple_body">
<u>Content</u> means: information, graphics, logos, features, functionality, services, and links on thevisiblecloset.com. 
 <br>
<u>thevisiblecloset.com</u>: The Visible Closet Inc, thevisiblecloset.com, The Visible Closet, its parent and its parent's subsidiary companies. 
 <br>
<u>You</u>: Yourself and the entity that you represent.
</div><br>
<a href="#">[Back to Top]</a>
<div class="simple_header"><a id="q2" name="q2"></a> 
Use of thevisiblecloset.com
</div>

<div class="simple_body">
<p>The content of thevisiblecloset.com is provided for your general information and personal use only. It is subject to change without notice. You may only use thevisiblecloset.com if you are a current or prospective customer of The Visible Closet. You may not use thevisiblecloset.com to ship or track packages, or to make payments, unless you are a customer of The Visible Closet and using the site for your own purposes.</p>
<p>
Information submitted via thevisiblecloset.com is only confidential if submitted by customers. Information submitted by non-customers may not be treated confidentially. Ideas and suggestions may not be treated confidentially by The Visible Closet regardless of who submitted them.</p>
</div> 
<a href="#">[Back to Top]</a>
 
<div class="simple_header"><a id="q3" name="q3"></a>
	thevisiblecloset.com Login Registration
</div>
<div class="simple_body">
<p>You may choose to register as a customer of thevisiblecloset.com to access services and content that is reserved for registered customers. The type and existence of these services and content may vary.</p>
<p>When you register for thevisiblecloset.com you must provide a valid email address. This email address will serve both as your log-in user id as well as the primary method by which we will communicate with you. When you register you also must provide a password. It is your responsibility to keep this password secure and secret, and you are responsible for all activities conducted on thevisiblecloset.com using your email and password as log-in credentials. You agree that you will immediately inform The Visible Closet of any unauthorized use of your default email address and password. You also agree to log out of thevisiblecloset.com at the end of each visit.</p>
 </div>

<a href="#">[Back to Top]</a>

 <div class="simple_header"><a id="q4" name="q4"></a>
Changes to thevisiblecloset.com
</div>
<div class="simple_body">
<p>The Content of thevisiblecloset.com is subject to change at any time without notice.</p>
 </div>

<a href="#">[Back to Top]</a>
<div class="simple_header"> <a id="q5" name="q5"></a>
Termination of Access
</div>
<div class="simple_body">
<p>The Visible Closet may, at its sole discretion, terminate the access of any user or suspend the account of any user. The Visible Closet will inform any user whose account is suspended or terminated of such change in account status via the primary email on that user's account. The Visible Closet reserves the right to suspend or terminate any account at any time, even while maintaining access to thevisiblecloset.com for other users.</p>
</div> 

<a href="#">[Back to Top]</a>
<div class="simple_header"><a id="q6" name="q6"></a> 
Ownership
</div>
<div class="simple_body">
<p>thevisiblecloset.com contains Content which is owned by or licensed to The Visible Closet Inc. This material includes, but is not limited to, the site design, layout, look, logos, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions. No user may copy, modify, translate, transmit, distribute, adapt, reproduce, decompile, reverse engineer, or disassemble any part of thevisiblecloset.com or its Content.</p>

<p>From time to time thevisiblecloset.com may contain links to other websites. These links are provided for your convenience to provide further information. They do not signify that The Visible Closet endorses the linked website. The Visible Closet has no responsibility for the content of linked websites.</p>
</div>
<a href="#">[Back to Top]</a>
 <div class="simple_header"><a id="q7" name="q7"></a>
Disclaimer of Warranty
</div>
<div class="simple_body">
<p>THEVISIBLECLOSET.COM, INCLUDING, WITHOUT LIMITATION, ALL SERVICES, CONTENT, FUNCTION, AND MATERIALS, IS PROVIDED "AS IS", "AS AVAILABLE", WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTY FOR INFORMATION, DATA, DATA PROCESSING SERVICES, UPTIME OR UNINTERRUPTED ACCESS, ANY WARRANTIES CONCERNING THE AVAILABILITY, DISPLAYABILITY, ACCURACY, PRECISION, CORRECTNESS, THOROUGHNESS, COMPLETENESS, USEFULNESS, OR CONTENT OF INFORMATION, AND ANY WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. THEVISIBLECLOSET.COM HEREBY DISCLAIMS ANY AND ALL SUCH WARRANTIES, EXPRESS AND IMPLIED. THE VISIBLE CLOSET DOES NOT WARRANT THAT THEVISIBLECLOSET.COM OR THE SERVICES, CONTENT, FUNCTIONS OR MATERIALS PROVIDED THROUGH THEVISIBLECLOSET.COM WILL BE TIMELY, SECURE, UNINTERRUPTED OR ERROR FREE, OR THAT DEFECTS WILL BE CORRECTED. THE VISIBLE CLOSET MAKES NO WARRANTY THAT THEVISIBLECLOSET.COM OR ITS PROVIDED SERVICES WILL MEET USERS' REQUIREMENTS. NO ADVICE, RESULTS OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US OR THROUGH THEVISIBLECLOSET.COM SHALL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. THE VISIBLE CLOSET AND ITS AFFILIATES ALSO ASSUME NO RESPONSIBILITY, AND SHALL NOT BE LIABLE FOR, ANY DAMAGES TO, OR VIRUSES THAT MAY INFECT, YOUR EQUIPMENT ON ACCOUNT OF YOUR ACCESS TO, USE OF, OR BROWSING IN THEVISIBLECLOSET.COM OR YOUR DOWNLOADING OF ANY MATERIALS, DATA, TEXT, IMAGES, VIDEO CONTENT, OR AUDIO CONTENT FROM THEVISIBLECLOSET.COM. IF YOU ARE DISSATISFIED WITH THEVISIBLECLOSET.COM, YOUR SOLE REMEDY IS TO DISCONTINUE USING THE WEBSITE.</p>
 </div>
<a href="#">[Back to Top]</a>
 <div class="simple_header"><a id="q8" name="q8"></a>
Limitation of Liability
</div>
<div class="simple_body">
<p>IN NO EVENT, INCLUDING BUT NOT LIMITED TO NEGLIGENCE, SHALL THE VISIBLE CLOSET, ITS AFFILIATES, OR ANY OF ITS DIRECTORS, OWNERS, OFFICERS, EMPLOYEES, AGENTS OR CONTENT OR SERVICE PROVIDERS (COLLECTIVELY, THE "PROTECTED ENTITIES") BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES ARISING FROM, OR DIRECTLY OR INDIRECTLY RELATED TO, THE USE OF, OR THE INABILITY TO USE, THEVISIBLECLOSET.COM OR THE CONTENT, MATERIALS AND FUNCTIONS RELATED THERETO, YOUR PROVISION OF INFORMATION VIA THEVISIBLECLOSET.COM, LOST BUSINESS OR LOST SALES, EVEN IF SUCH PROTECTED ENTITY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO CERTAIN USERS. IN NO EVENT SHALL THE PROTECTED ENTITIES BE LIABLE FOR OR IN CONNECTION WITH ANY CONTENT POSTED, TRANSMITTED, EXCHANGED OR RECEIVED BY OR ON BEHALF OF ANY USER OR OTHER PERSON ON OR THROUGH THEVISIBLECLOSET.COM. IN NO EVENT SHALL THE TOTAL AGGREGATE LIABILITY OF THE PROTECTED ENTITIES TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT OR TORT, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE OR OTHERWISE) ARISING FROM THE TERMS AND CONDITIONS OR YOUR USE OF THEVISIBLECLOSET.COM EXCEED, IN THE AGGREGATE, THE AMOUNT, IF ANY, PAID BY YOU TO US FOR YOUR USE OF THEVISIBLECLOSET.COM OR PURCHASE OF PRODUCTS OR SERVICES VIA THEVISIBLECLOSET.COM.</p>
 </div>
<a href="#">[Back to Top]</a>
 <div class="simple_header"><a id="q9" name="q9"></a>
Indemnity
</div>
<div class="simple_body">
<p>You agree to defend, indemnify and hold The Visible Closet and its affiliates and its affiliates' directors, owners, officers, employees and agents harmless from any and all claims, liabilities, costs and expenses, including attorneys' fees, arising in any way from your use of thevisiblecloset.com, or your breach or violation of the law or of these Terms and Conditions. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and in such case, you agree to cooperate with our defense of such claim.</p>
 </div>
<a href="#">[Back to Top]</a>
 <div class="simple_header"><a id="q10" name="q10"></a>
Privacy Policy
</div>
<div class="simple_body">
<p>The Visible Closet <a href="/privacy">Privacy Policy</a> governs the use of information acquired from You through thevisiblecloset.com.</p>
 </div>
<a href="#">[Back to Top]</a>
 <div class="simple_header"><a id="q11" name="q11"></a>
Controlling Law and Severability
</div>
<div class="simple_body">
<p>This Agreement, and the relationship between you and us, shall be governed by the laws of The United States and the State of Illinois, excluding its conflict of laws provisions. You agree that any cause of action that may arise under the Terms and Conditions, when not resolved through arbitration, shall be commenced and be heard within the State of Illinois courts in Will County, Illinois or the United States District Court for the Northern District of Illinois. Our failure to exercise or enforce any right or provision of the Terms and Conditions shall not constitute a waiver of such right or provision. If any provision of the Terms and Conditions is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms and Conditions remain in full force and effect.</p>
 </div>
<a href="#">[Back to Top]</a>