<div id="tips" class="slim-centered" >
	<br>
    <h1>Packing Tips</h1>
        <div class="packing">
            <div class="packing-image">
                <img src="images/tips1.gif" alt="" />
            </div>
            <div class="packing-text">
				<div class="simple_header">General Tips</div>
                <ul>
                    <li>If you are using your own box, pick one that is rugged, undamaged, and has no weak spots. Any exterior markings should be removed or covered. Look for the "Shipping Seal of Approval" on the bottom of any box you use.</li>
                    <li>Fill all spaces loosely with filler such as bubble wrap or packing peanuts.</li>
                    <li>Shake the box after packing - if things shift, add more packing materials so items are snug.</li>
                    <li>Do not overpack! Make sure the box is full, but not overfull, and make sure that packing materials -- not your items -- are in contact with the sides of the box.</li>
                    <li>Wrap each item in protective material, and fill hollow items with packing materials.</li>
                </ul>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="packing">
            <div class="packing-image">
                <img src="images/tips2.gif" alt="" />
            </div>
            <div class="packing-text">
				<div class="simple_header">Special Items</div>
                <ul>
                    <li>Wrap electronics in electro static discharge bags.</li>
                    <li>Wrap each item in protective material, and fill hollow items with packing materials.</li>
                    <li>Put fragile paper or other inked items in bags to protect against accidental water exposure.</li>
                    <li>Put heavy stuff on the bottom, and mark the "this end up" on the box.</li>
                    <li>Double-box fragile items.</li>
                </ul>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="packing">
            <div class="packing-image">
                <img src="images/tips3.gif" alt="" />
            </div>
            <div class="packing-text">
				<div class="simple_header">Mailing</div>
                <ul>
                    <li>Seal the box well</li>
                    <li>Put the label on the outside, well-secured and legible, not over any seals.</li>
                </ul>
            </div>
            <div class="clearer"></div>
        </div>
        <div class="packing">
            <div class="packing-image">
                &nbsp;
            </div>
            <div class="packing-text">
                <img src="images/cool-tips.gif" alt="cool tips" />
                <ul style="padding-left:80px">
                    <li>Use balloons to create extra fill in a box.</li>
                    <li>Use rubber bands to hold bubble wrap in place.</li>
                </ul>
            </div>
            <div class="clearer"></div>
        </div>
</div>