<div style="padding: 20px 0 0 50px">
<h1>
	Privacy Policy 
</h1>
<div class="simple_body">
<p>The Visible Closet supports a general policy of openness about personal data collection and use. We have adopted and implemented this Privacy Policy as part of our commitment to protecting our users’ personally identifiable information from misuse.</p>
<p>The phrase “personally identifiable information" as used herein means any information such as a user’s full name, street address, town or city, state, zip code, telephone number, date of birth, e-mail address and any other information that would allow someone to identify or contact a user. </p>
<p>The Visible Closet reserves the right to revise this Privacy Policy at any time and for any reason and reserves the right to make changes at any time to any of the information contained in this Privacy Policy.  By entering and using the services provided by thevisiblecloset.com, you acknowledge and agree that you shall be bound by this Privacy Policy and any such revisions.  We suggest users periodically review this Privacy Policy to be aware of any modifications to these terms and conditions.</p>
</div>
<div class="simple_header">Your California Privacy Rights.</div>
<div class="simple_body">
<p>Users who reside in California can prevent future disclosures of his or her personally identifiable information, at no charge, by exercising his or her “opt out” rights by using the “opt out” procedures described below:</p>
<ol>
	<li>You can send email to: <a href="mailto:privacy@thevisiblecloset.com">privacy@thevisiblecloset.com</a> or</li>
	<li>You can send mail to the following postal address: <%= raw address_summary(@vc_address, false, false)%></li>
</ol>
<p>Additionally, upon receipt of any communication from The Visible Closet, to unsubscribe from future communications, you can click on the link that says “If you do not wish to receive these emails in the future, You can click here to unsubscribe.”</p>

<p>Because The Visible Closet provides its California users with the ability to exercise his or her “opt out” rights as described above, pursuant to Section 1798.83 (c)(2) of the California Civil Code, The Visible Closet is in compliance with the California “Shine the Light” law and is not obligated to provide California users with the names and addresses of all the third parties that received personal information from The Visible Closet for the third parties’ direct marketing purposes during the preceding calendar year.</p> 

<p>Please be aware that third party websites accessible through thevisiblecloset.com may collect personally identifiable information about you. The information practices of those third party websites are governed by their own privacy policies and are not covered by this privacy statement, and The Vislble Closet is not responsible for any information that you provide when you access those websites.</p>
</div>
<div class="simple_header">What information does The Visible Closet collect?</div>
<div class="simple_body">
<p>Some functions require users to register before they can use or access a particular area of thevisiblecloset.com (which may be necessary for identification, security, or marketing purposes, etc.).  USERS UNDER THE AGE OF 13 ARE PROHIBITED FROM REGISTERING ON THEVISIBLECLOSET.COM.  The Visible Closet’s registration, online surveys, contest entry forms, and specialized services may call for users to provide personally identifiable information and demographic information (like their age or income level).  Additionally, the registration process requires users to choose a user ID and password.  Users may change his or her password, as well as any personally identifiable information provided to us to keep his or her registration information current. </p>

<p>We use the standard “cookie” feature of major browser applications to allow us to store data about your visit (such data is stored in the aggregate form). Cookies help us learn which areas of thevisiblecloset.com are useful and which areas need improvement. We may use cookies in a number of ways, including keeping track of user return visits to thevisiblecloset.com or our advertisers’ or business partners’ websites; accumulating and reporting aggregate, statistical information in connection with user visits; and to deliver to our users content specific to their interests; to save users ID, passwords, or other information so users don’t have to re-enter it each time they visit our site.  We also may use cookies to track visits to track your progress and number of entries in some of our promotions, sweepstakes, and contests. </p>

<p>Links to other websites may also contain cookies. These third party companies may employ cookies and other technologies to measure advertising effectiveness. You should be aware that different rules may apply to the collection, or use of the personally identifiable information you disclose to these third parties. </p>

<p>thevisiblecloset.com may also gather anonymous information, which may be used by us or shared with third parties. This is information which does not personally identify you, but which may be helpful for marketing purposes or for improving the services we offer. Generally this information is collected through “traffic data” and may entail the use of numeric codes used to identify a computer.</p>
</div>

<div class="simple_header">What does The Visible Closet do with collected information?</div>
<div class="simple_body">
<p>The Visible Closet’s primary goal in collecting personal information is to provide the user with a customized experience on our site. This includes personalization services, interactive communications, and many other types of services. By knowing a little about users, The Visible Closet is able to deliver better service to our users.</p>

<p>We use personally identifiable information from our online registration, surveys, contests, specialized services, and order forms for our own internal evaluation and tracking purposes and to send our users information from our company (e.g., site announcements, newsletters, and message notifications) and promotional material from some of our business partners (or from other companies). If you supply such personally identifiable information, it may also be used to contact you about products and services in which you have indicated an interest, and may be shared with our third party business partners or other companies who may want to contact you, if you have provided your consent through an “opt in” (in which case their use of your personally identifiable information is subject to such third party’s privacy policy). Additionally, you may opt out of receiving future mailings by using the “opt out” procedures described below – see the Choice/Opt-Out section below.</p>

<p>The Visible Closet may use users’ IP address (the number assigned to your computer while it is on the Internet) for our internal purposes to help diagnose problems with our server, and to administer our site. In addition, your IP address is transmitted with each message sent from your account.  We may also store communicative information including, without limitation, instant messages and submissions to personal profiles or social networking communications tools for the purpose of delivering and, if needed, monitoring communications.</p>

<p>Demographic and profile data from online forms or cookies may be used to identify your preferences and this information may be shared with our business partners or other companies only on an aggregate basis, unless you expressly state through an opt-out that demographic and profile information about you may not be disclosed.</p>
</div>

<div class="simple_header">Disclosure to Third Parties.</div>
<div class="simple_body">
<p>The Site may disclose user’s personally identifiable information to third parties (i) when we have his or her consent (through an "opt in"), in which case their use of a user’s information is subject to such third party’s own privacy policy; (ii) when users use co-branded services on the Site and provide any personally identifiable information to any of our third party co-branded business partners (where users are consenting to provide this information to such co-branding partner). Additionally, such third party’s use of a user’s information is subject to such third party’s own privacy policy; (iii) when we have retained companies to work with or on behalf of the Site to provide products, goods or services; (iv) if required to do so by law or in the good faith belief that such action is necessary to comply with a legal process served on the Site, or the Foundation or their respective parent companies, subsidiaries or affiliate, by a governmental agency, court or other entity (e.g., to respond to subpoenas, court orders or other legal process); (v) if we believe a user’s actions violate any law, regulation, our Terms of Use or any of our guidelines for promotions, product offerings or any other features of thevisiblecloset.com, or if a user threatens the rights, property or safety of thevisiblecloset.com, other users, or any other party; (vi) as and when we, in our sole discretion, and in the good-faith belief believe that such disclosure is necessary or appropriate to investigate or resolve possible problems or inquiries, to protect our business and assets, to defend our interests, rights or property of The Visible Closet, and/or to comply with our legal and regulatory obligations; or (vii) in the event of a bankruptcy, or a merger, acquisition, joint venture or other business combination involving The Visible Closet.  Also, personally identifiable information you provide to The Visible Closet may be stored outside of the country in which you reside.</p>
</div>
<div class="simple_header">Security</div>
<div class="simple_body">
<p>The Visible Closet has security measures in place to protect the loss, misuse and alteration of the information under our control. Unfortunately, no data transmission over the Internet can be 100% secure. As a result, while we strive to protect your personal information, The Visible Closet cannot ensure or warrant the security of any information you transmit to us or from our online products or services, and you do so at your own risk. Once we receive your transmission, we make our best effort to ensure its security on our systems.</p>
</div>
<div class="simple_header">Children</div>
<div class="simple_body">
<p>The Site is a general audience site. WE DO NOT DIRECT ANY OF OUR CONTENT SPECIFICALLY AT CHILDREN UNDER THIRTEEN (13) YEARS OF AGE, AND WE DO NOT COLLECT ANY PERSONALLY IDENTIFIABLE INFORMATION FROM ANYONE UNDER 13 YEARS OF AGE.</p>
</div>
<div class="simple_header">Choice/Opt-Out</div>
<div class="simple_body">
<p>The Site gives you (or your parent(s) if you are under 18 years of age) the following options for removing your personal information from our database in order to stop receiving future communications from the Site. </p>
<ol>
	<li>You can send email to: privacy@thevisiblecloset.com</li>
	<li>You can send mail to the following postal address: <%= raw address_summary(@vc_address, false, false)%></li>
	<li>Upon receipt of any communication from The Visible Closet, to unsubscribe from future communications, you can click on the link that says “If you do not wish to receive these emails in the future, You can click here to unsubscribe.” Please note: The Visible Closet is not responsible for removing information from third-party lists or entities with which you have previously authorized us to share your information.) </li>
</ol>
<p>Additionally, you may opt-out of sharing your information with third-party lists or entities by either clearing the appropriate checkboxes at the point of initial collection or by following the procedures of third-party lists or entities. </p>
</div>
<div class="simple_header">Correct/Update</div>
<div class="simple_body">
<p>The Site gives you the following options for informing us of changes to information you have previously provided:</p>
<ol>
	<li>Email privacy@thevisiblecloset.com</li>
	<li>Send mail to the following postal address: <%= raw address_summary(@vc_address, false, false)%></li>
</ol>
</div>

<div class="simple_header">Contact Us</div>
<div class="simple_body">
<p>If you have any questions about your privacy, please feel free to email us at: <a href="mailto:privacy@thevisiblecloset.com">privacy@thevisiblecloset.com</a></p>
</div>	


</div>