<div class="login-slim-centered">
	<h1>Thanks for your interest!</h1>
<br>
	<p>Your email has been recorded. We will let you know when it is possible to sign up as a real The Visible Closet user. <a href="/">Click here</a> to return to The Visible Closet home page.</p>
	<br>
</div>