<div class="login-slim-centered">
<h1>Confirmation Requested</h1><br>
Thanks for joining! You're nearly ready. For security, we've sent you an email at the address you provided with further instructions. Please check that for next steps.<br>
</div>