<div style="padding: 0 0 0 150px;">
<h1>Restrictions</h1><br>
We can store (and inventory!) a lot of things at The Visible Closet ... but we do have a few restrictions:
<div class="simple_header">
	Storage
</div>
<div class="simple_body">
We cannot store:
<ul class="simple_ul">
	<li>Anything flammable, explosive, or corrosive</li>
	<li>Liquids</li>
	<li>Anything that Fedex won't ship (see their <a href="http://www.fedex.com/us/international-mail-service/how-to-ship/what-to-ship.html" target="new">guidelines</a>)</li>
	<li>Hazardous waste</li>
	<li>Animals (living or dead) or animal parts</li>
	<li>Firearms</li>
	<li>Anything that does not belong to you. Especially if it's stolen. Seriously.</li>
	<li>Money</li>
	<li>Anything worth more than $300 without our written consent (<a href="/contact">contact us</a> if this applies to you)</li>
	<li>Food, or anything else that can spoil or rot</li>
</ul>
</div>
<div class="simple_header">
	Inventorying
</div>
<div class="simple_body">
We cannot inventory:
<ul class="simple_ul">
	<li>More than 50 items per box without our written consent (<a href="/contact">contact us</a> if this applies to you)</li>
	<li>Anything that cannot be unpacked and repacked safely, at our discretion</li>
	<li>Broken items without our written consent (<a href="/contact">contact us</a> if this applies to you)</li>
</ul>
</div>
</div>