<div id="is-it-right" class="slim-centered" >
    <h1>Is this right for me?</h1>
	The Visible Closet is a great storage and stuff management solution for a wide variety of people. Take a look at the types of folks who can benefit from box-based storage and inventorying.<br><br>
    <div class="is-it-right-box">
        <div class="photo">
            <img src="images/right-frequent-travelers.jpg" alt="Frequent Travelers" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Frequent Travelers</p>
        </div>
        <div class="body">
            <p>Put the things you need for the road in a box at The Visible Closet, and send items to your hotel only when you need them.</p>
        </div>
    </div>
    <div class="is-it-right-box gaps">
        <div class="photo">
            <img src="images/right-downsizers.jpg" alt="Downsizers" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Downsizers</p>
        </div>
        <div class="body">
            <p>Moving into a smaller place? Let The Visible Closet help! Keep easy access to your stuff without having to move it into a storage locker or get rid of it; and when the time comes, you can easily sell, donate, or gift your items using our service!</p>
        </div>
    </div>
    <div class="is-it-right-box">
        <div class="photo">
            <img src="images/right-job-relocation.jpg" alt="Job Relocation" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Job Relocation</p>
        </div>
        <div class="body">
            <p>Moving to a new town for work? Don't get overwhelmed by rushing -- instead, move what you need to the new place right away, and put the rest in storage at The Visible Closet, knowing that you can easily find it when you need it.</p>
        </div>
    </div>
    <div class="clearer bottom-border"></div>
    <div class="is-it-right-box">
        <div class="photo">
            <img src="images/right-remodelers.jpg" alt="Remodelers" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Remodelers</p>
        </div>
        <div class="body">
            <p>Don't lose access to your stuff while you are going through the remodel! Box it up, use only as much storage space as you need, and create an inventory for that moment when the remodeler says there will be a delay and you want to grab just a few things from storage!</p>
        </div>
    </div>
    <div class="is-it-right-box gaps">
        <div class="photo">
            <img src="images/right-organizers.jpg" alt="Organizers" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Organizers</p>
        </div>
        <div class="body">
            <p>Sick of clutter in your basement, attic, or storage space? Don't waste weekends getting things in order. Just mail the boxes to us. Before you know it you'll know exactly what you have, and you'll be able to do what you want with it -- quickly and easily.</p>
        </div>
    </div>
    <div class="is-it-right-box">
        <div class="photo">
            <img src="images/right-students.jpg" alt="Students" />
        </div>
        <div class="bluebox">
        </div>
        <div class="heading">
            <p>Students</p>
        </div>
        <div class="body">
            <p>Store your dorm room during your summer internship, and don't lose access to your items! Graduate students especially find The Visible Closet to be a life saver.</p>
        </div>
    </div>
    <div class="clearer bottom-border"></div>
	    <div class="is-it-right-box">
	        <div class="photo">
	            <img src="images/right-military.jpg" alt="Military" />
	        </div>
	        <div class="bluebox">
	        </div>
	        <div class="heading">
	            <p>Military</p>
	        </div>
	        <div class="body">
	            <p>No matter where in the world you go, your stuff is visible and available with the click of a mouse.</p>
	        </div>
	    </div>
    <div class="clearer"></div>
</div>