<div style="display: none">
<div id="cust_box_inline" style="text-align: center">
	<b>Why am I ordering my own box?</b><br><br>We want to make sure that when we receive your box we know who sent it! <br>By clicking "Store My Stuff" you will create a record of your box in your account, and receive instructions on how to ship it. <br>You can also track your box while it's in transit, and name the box for your own reference. 
</div>
<div id="checkout_inventorying_vcbox_inline" style="text-align: center">
	<b>How does inventorying work?</b><br><br>Most customers don't know how much of their stuff they want to inventory until they pack their boxes. We therefore don't require that you choose to produce an inventory for your boxes when you order them. <br><br>Instead, we stamp our boxes with an indicator so you can choose whether to inventory when you pack the box. If you mark the indicator, then as soon as we receive the box we will inventory it for you. <br><br>You can also choose to inventory a box while it is in storage via the "Browse Boxes" section of the website. 
</div>
<div id="checkout_inventorying_custbox_inline" style="text-align: center"><b>How does inventorying work?</b><br><br>Most customers don't know how much of their stuff they want to inventory until they pack their boxes. We therefore don't require that you choose to produce an inventory for your boxes when you order them. <br><br>Instead, we stamp our labels with an indicator so you can choose whether to inventory when you pack the box. When you put our labels on your box, simply check the "Inventory?" checkbox and, when we receive your box, we will inventory it for you.<br><br>You can also choose to inventory a box while it is in storage via the "Browse Boxes" section of the website.  </div>

<a href="#explain_invalid_address" id="explain_invalid_address_link"></a>
<div id="explain_invalid_address" style="width: 500px; border: 1px solid black; padding: 5px 5px 5px 5px; text-align: center"><b>Invalid Address</b><br><br>This address has not been validated as legitimate by FedEx. We don't recommend shipping to this address. Instead, we recommend clicking the "Choose Other Address" link to enter or select a different address.<br><br>Of course, FedEx is not perfect -- perhaps this is a fine address. If you choose to ship to this address we may need to amend your shipping charge as part of the shipping process.</div>
<div id="explain_tbd_shipping" style="width: 500px; border: 1px solid black; padding: 5px 5px 5px 5px; text-align: center">
	<b>TBD Shipping Costs</b><br><br>
	FedEx is unable to provide shipping costs for the address(es) you provided. This may be due to an invalid address, or a problem with FedEx at this time. <br><br>If you proceed forward you will be charged for shipping later.
	</div>
</div>